#navigation.col-md-12
    //- #back
    #reset
    #level-no
    #status.play
#bin.col-md-1
    ul( dnd-list='' 
        dnd-external-sources="true" 
        dnd-drop='vm.removeFromProgram()')
#level.col-md-8
    .level-inner
        dim-grid-directive
#instructions.col-md-2
    h4 Instructions
    .instructions-inner
        ul( dnd-list="vm.instructions"
            dnd-disable-if="vm.instructions.length >= vm.max")
            li( ng-repeat='ins in vm.instructions'
                dnd-draggable="ins"
                dnd-effect-allowed="copyMove") 
                img(id='{{ins.name}}' 
                    ng-src='{{ins.src}}' 
                    ng-click='vm.addToProgram(ins)'
                    index='{{$index}}')
#program.col-md-2
    h4 Program
    .program-inner
        ul( dnd-list="vm.program"
            dnd-external-sources="true"
            dnd-horizontal-list="false"
            class="itemlist")
            li( ng-repeat='ins in vm.program track by $id(ins)'
                dnd-draggable='ins'
                dnd-type="'insType'"
                dnd-moved="vm.program.splice($index, 1)"
                dnd-effect-allowed="copyMove"
                dnd-dragstart="vm.toggleBin(); vm.setIndex($index)"
                dnd-dragend="vm.toggleBin()") 
                img(class='{{ins.name}}' 
                    id='{{$index}}' 
                    ng-src='{{ins.src}}' 
                    ng-click='vm.removeFromProgram($index)')
#next
