#navigation.col-md-12
    //- #back
    #reset
    #level-no
    #status.play
#level.col-md-10
    .level-inner
        dim-grid-directive
#instructions.col-md-2
    .instructions-inner
        ul(dnd-list="vm.instructions")
          li(ng-repeat='ins in vm.instructions'
             dnd-draggable="ins"
             dnd-effect-allowed="copyMove") 
            img(id='{{ins.name}}' 
                ng-src='{{ins.src}}' 
                ng-click='vm.addToProgram(ins)'
                index='{{$index}}')
#program.col-md-11
    .program-inner
        ul( dnd-list="vm.program"
            dnd-external-sources="true"
            dnd-horizontal-list="true"
            class="itemlist")
            li( ng-repeat='ins in vm.program track by $index'
                dnd-draggable='ins'
                dnd-moved="vm.program.splice($index, 1)"
                dnd-effect-allowed="move") 
                img(class='{{ins.name}}' 
                    id='{{$index}}' 
                    ng-src='{{ins.src}}' 
                    ng-click='vm.removeFromProgram($index)')
#next
                
